@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
/* CONFIGURATION DE BASE */
:root {
  /* SPACEMENT */
  --space-m: 3.44rem;
  --space: 2.5rem;
  --padding-m: 15px;
  --item-space: 10px;

  /* typo */
  --fs: 16px;
  --fw-title: 500;
  --primary-color: #555555;
  --color--error: #ff3838;
  --color-warning: #ec880c;
  --color-white: #fff;
  --color-progress: #028a3d;
  --color-blue: #0880d6;
  --color-progress-min: rgba(2, 138, 61, 0.42);
  --color-gray: #dddddd;
  --primary-font: "Inter", "Segoe UI", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: var(--fs);
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
.title {
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: var(--fw-title);
}

.title-1 {
  font-size: 2.2rem;
}
.title-2 {
  font-size: 2rem;
}
p {
  font-size: 20px;
}
html,
body {
  height: 100%;
  width: 100%;
  color: var(--primary-color);
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(90deg, #85f6b8, #8ed9eb);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  color: inherit;
}
.title-2 {
  margin-bottom: var(--space-m);
}
.container {
  max-width: 1150px;
  margin: 1rem auto;
}
.quiz {
  background-color: var(--color-white);
  padding: var(--space);
  margin: 1rem;

  min-width: 250px;
  max-width: 300px;
  min-height: 520px;
}
.quiz:first-child {
  margin-top: 0;
}
.quiz:last-child {
  margin-bottom: 0;
}
.quiz__description {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.quiz__description .title {
  margin-bottom: var(--space);
}
.quiz__description {
  --space: 1.5rem;
  margin: var(--space) 0;
}
.quiz__description p {
  line-height: 1.5;
  max-width: 391px;
  padding-bottom: 1rem;
}

.progression {
  width: 100%;
  margin-top: 30px;
  /* margin-bottom: 20px; */
}
.progression * {
  font-size: 14px;
}
.progression__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.progression__details p {
  padding-bottom: 0;
}
.progression__bar {
  height: 10px;
  width: 100%;
  border-radius: 99px;
  background-color: var(--color-gray);
  overflow-x: hidden;
}
.bar {
  background-color: var(--color-progress);
  width: 10%;
  transition: width 0.3s;
  height: 100%;
  border-radius: 99px;
}
.bar.w-20 {
  width: 20%;
}
.bar.w-40 {
  width: 40%;
}

.bar.w-60 {
  width: 60%;
}

.bar.w-80 {
  width: 80%;
}

.bar.w-100 {
  width: 100%;
}

.form {
  margin-bottom: var(--space);
}

.input-container {
  --space: 1.5rem;
  margin-top: var(--space);
  margin-bottom: var(--space);
}
.input-container:first-child {
  margin-top: 0;
}
.input-container:last-child {
  margin-bottom: 0;
}
.btn-container {
  display: flex;
  justify-content: center;
}

.form-question .btn-container {
  justify-content: space-between;
}

.input-group.invalid {
  border-color: var(--color--error);
}
.input-group.valid {
  border-color: var(--color-progress);
}
.input-group {
  border: 1px solid var(--color-gray);
  width: 100%;
}
.input-group input {
  width: 100%;
  border: none;
  outline: none;
}
.input-group input::placeholder,
.input-group input {
  font-size: 15px;
}

.input-container .input-group,
.btn-container button {
  padding: var(--padding-m);
  outline: none;
  transition: 0.3s;
}

.form-question button {
  font-size: 1rem;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  padding-right: 10px;
  padding-left: 10px;
}
.form .btn {
  border: 1px solid transparent;
  color: var(--color-white);
}
.form-result .btn {
  padding-left: 60px;
  padding-right: 60px;
}
.btn:hover {
  background-color: var(--color-white);
}

.btn-green {
  background-color: var(--color-progress);
}

.btn-green:hover {
  color: var(--color-progress);
  border-color: var(--color-progress);
}
.btn-info {
  background-color: var(--color-blue);
}
.btn-info:hover {
  color: var(--color-blue);
  border-color: var(--color-blue);
}
.btn-green-min {
  background-color: var(--color-progress-min);
  cursor: not-allowed;
}
.btn-green-min:hover {
  background-color: var(--color-progress-min);
}

.btn-warning {
  background-color: var(--color-warning);
}
.btn-warning:hover {
  background-color: var(--color-white);
  color: var(--color-warning);
  border-color: var(--color-warning);
}

label,
input,
img {
  display: block;
}

button {
  cursor: pointer;
}
.input-container label {
  font-size: 1rem;
}

.input-container label {
  margin-bottom: var(--item-space);
}
.input-error {
  font-size: 12px;
  color: var(--color--error);
  margin-top: 6px;
}
/* Questions */
.question-name {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-gray);
  border-radius: 50%;
  cursor: pointer;
}
.input-question {
  display: none;
}

input[type="radio"]:checked ~ .question-name,
.input-group.valid .question-name {
  background-color: var(--color-progress);
  border-color: var(--color-progress);
}
.input-group-question:hover {
  border-color: var(--color-progress);
}
.form-question .question-name {
  margin-bottom: 0;
}
.input-group-question {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.input-group-question * {
  font-size: 20px;
}
.question-tag {
  margin-left: 20px;
}
.quiz__description svg {
  margin: 40px 0;
}
.next {
  margin-left: 0.5rem;
}
.prev {
  margin-right: 0.5rem;
}
@media only screen and (min-width: 320px) {
  .quiz {
    min-width: 270px;
    max-width: 300px;
    min-height: 520px;
  }
  .btn-container .btn {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media only screen and (min-width: 480px) {
  .quiz {
    min-width: 400px;
    max-width: 421px;
  }
  .form-question .btn {
    padding-right: 40px;
    padding-left: 40px;
  }
  .btn-container button {
    font-size: 20px;
  }
  .next {
    margin-left: 1rem;
  }
  .prev {
    margin-right: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  .quiz {
    min-width: 450px;
    min-height: 600px;
  }
  .form-question .btn {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media only screen and (min-width: 762px) {
  .quiz {
    min-width: 500px;
    max-height: 784px;
  }

  .form-question .btn {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media only screen and (min-width: 762px) {
  .form.form-question .btn {
    padding-right: 60px;
    padding-left: 60px;
  }
  .form .btn {
    padding-right: 70px;
    padding-left: 70px;
  }
}
