@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
/* CONFIGURATION DE BASE */
:root {
  /* typo */
  --fs: 16px;
  --fw-title: 500;
  --primary-color: #555555;
  --color--error: #ff3838;
  --color-warning: #ec880c;
  --color-white: #fff;
  --color-progress: #028a3d;
  --color-blue: #0880d6;
  --color-progress-min: rgba(2, 138, 61, 0.42);
  --color-gray: #dddddd;
  --primary-font: "Inter", "Segoe UI", sans-serif;
  --space-m: 3.44rem;
  --space: 2.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: var(--fs);
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
.title {
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: var(--fw-title);
}

.title-1 {
  font-size: 2.2rem;
}
.title-2 {
  font-size: 2rem;
}
p {
  font-size: 20px;
}
html,
body {
  height: 100%;
  width: 100%;
  color: var(--primary-color);
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(90deg, #85f6b8, #8ed9eb);
}
.container {
  display: flex;
  justify-content: center;
}
a {
  color: inherit;
}
.title-2 {
  margin-bottom: var(--space-m);
}
.container {
  max-width: 1150px;
  margin: 2rem auto;
}
.quiz {
  background-color: var(--color-white);
  padding: var(--space);
  min-width: 571px;
  min-height: 600px;
  margin: 1rem;
}

.quiz__description {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.quiz__description .title {
  margin-bottom: var(--space);
}
.quiz__description {
  margin: var(--space) 0;
}
.quiz__description p {
  line-height: 1.6;
  max-width: 491px;
  padding-bottom: 1rem;
}

.progression {
  width: 100%;
  margin-top: 30px;
  /* margin-bottom: 20px; */
}
.progression * {
  font-size: 14px;
}
.progression__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.progression__details p {
  padding-bottom: 0;
}
.progression__bar {
  height: 10px;
  width: 100%;
  border-radius: 99px;
  background-color: var(--color-gray);
  overflow-x: hidden;
}
.bar {
  background-color: var(--color-progress);
  width: 10%;
  transition: width 0.3s;
  height: 100%;
}
.bar.w-20 {
  width: 20%;
}
.bar.w-40 {
  width: 40%;
}

.bar.w-60 {
  width: 60%;
}

.bar.w-80 {
  width: 80%;
}

.bar.w-100 {
  width: 100%;
}

.form {
  margin-bottom: 44px;
}

.input-container {
  margin-top: 35px;
  margin-bottom: 45px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.form-question .btn-container {
  justify-content: space-between;
}

.input-group.invalid {
  border-color: var(--color--error);
}
.input-group.valid {
  border-color: var(--color-progress);
}
.input-group {
  border: 1px solid var(--color-gray);
  width: 100%;
}
.input-group input {
  width: 100%;
  border: none;
  outline: none;
}
.input-group input::placeholder,
.input-group input {
  font-size: 15px;
}

.input-container .input-group,
.btn-container button {
  padding: 21px;
  outline: none;
  transition: 0.3s;
}

.btn-container button {
  font-size: 20px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding-right: 75px;
  padding-left: 75px;
  border: 1px solid transparent;
}
.btn {
  border: 1px solid transparent;
  color: var(--color-white);
}
.btn:hover {
  background-color: var(--color-white);
}
.btn-green {
  background-color: var(--color-progress);
}
.btn-green:hover {
  color: var(--color-progress);
  border-color: var(--color-progress);
}
.btn-info {
  background-color: var(--color-blue);
}
.btn-info:hover {
  color: var(--color-blue);
  border-color: var(--color-blue);
}
.btn-green-min {
  background-color: var(--color-progress-min);
}
.btn-green-min {
  cursor: not-allowed;
}

.btn-warning {
  background-color: var(--color-warning);
}
.btn-warning:hover {
  background-color: var(--color-white);
  color: var(--color-warning);
  border-color: var(--color-warning);
}

label,
input,
img {
  display: block;
}

button {
  cursor: pointer;
}
.input-container label {
  font-size: 1rem;
}

.input-container label {
  margin-bottom: 15px;
}
.input-error {
  font-size: 12px;
  color: var(--color--error);
  margin-top: 6px;
}
/* Questions */
.question-name {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-gray);
  border-radius: 50%;
  cursor: pointer;
}
.input-question {
  display: none;
}

input[type="radio"]:checked ~ .question-name,
.input-group.valid .question-name {
  background-color: var(--color-progress);
  border-color: var(--color-progress);
}
.input-group-question:hover {
  border-color: var(--color-progress);
}
.form-question .question-name {
  margin-bottom: 0;
}
.input-group-question {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.input-group-question * {
  font-size: 20px;
}
.question-tag {
  margin-left: 20px;
}
@media only screen and(min-width:762px) {
  .quiz {
    max-width: 572px;
    max-height: 784px;
  }
}
