:root {
 --fs: 16px;
 --primary-color: #555555;
}

*,*::before,*::after {
  margin: 0;
  padding: 0;
   box-sizing: border-box;
   font-family:'Inter','Segoe UI',sans-serif;
   font-size: var(--fs);
}
p {
  fonts-size: 20px;
}
html, body {
  height: 100%;
  width: 100%;
  color: var(--primary-color);
}